<html>
    <head>
	    <title>Naruto</title>
    </head>
    <body>
    	<div>
    		<h1>Episódios: Naruto Clássico episódio 1</a></h1>
    	</div>

    	<div>
    		<p>published: 11.03.2018, 10:07</p>
    	    <h2><a href="">Epísodio 1 - abertura</a></h2>
    	    <p>Música: Naruto</p>
    	</div>
    	<div>
    	    {% load static %}
            <img src="{% static "blog/sasuke.naruto.png" %}" alt="Sasuke and Naruto"/>
    	</div>
    </body>
</html>